<ion-header>
  <ion-toolbar>
    <ion-title>Savings</ion-title>
    <ion-icon [routerLink]="['/home']" slot="start" name="arrow-back"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item  color="medium"><ion-label class="ion-text-center">Enter your savings costs</ion-label></ion-item>
  <ion-list>
    <ion-item>
    <ion-label position="floating" >Emergency Fund</ion-label>
    <ion-input type="number" [(ngModel)]="emergency" placeholder="$"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Investments</ion-label>
    <ion-input type="number" [(ngModel)]="investments" placeholder="$"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" >Retirement</ion-label>
    <ion-input type="number" [(ngModel)]="retirement" placeholder="$"></ion-input>
  </ion-item>

 
  <ion-item lines="none" class="center">
    <ion-col>
    <ion-button class="center" (click)="addAutoBudget()" >Submit Budget</ion-button>
  </ion-col>
  </ion-item>
  </ion-list>
</ion-content>
